<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pago PayPal Video Sport</title>
	<link rel="icon" href="assets/img/logo.png">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="div-login" id="app" style="padding: 20px 20px;">
        <h3>Procesar Compra</h3>
		<span style="font-weight: bold; margin-right: 5px;">Id de pago: </span> {{ paymentId }}
		<br/>
		<span style="font-weight: bold; margin-right: 5px;">Id de pagador: </span> {{ payerId }}
		<br/>
		<span style="font-weight: bold; margin-right: 5px;">Estado de pago: </span> {{ paymentState }}
		<br/>
		<br/>	
		<button class="btn btn-success" style="font-weight:bold;" @click="EjecutarPago" v-if="created">Confirmar Pago</button>
    </div>
    <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <script src="libs/vuejs/vue.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
			data: {
				paymentId: "",
				payerId: "",
				paymentState: "",
				created: false
			},
			mounted: function(){
				var self = this;
				var url = new URL(window.location.href);
				self.paymentId = url.searchParams.get("paymentId");
				self.payerId = url.searchParams.get("PayerID");
				console.log(self.paymentId);
				//console.log(self.payerId);
				axios.post('http://localhost:3011/verificar-pago', { idpago: self.paymentId })
				.then(function(response){
					console.log(response.data);
					if(response.data.code==1){
						self.paymentState = response.data.state;
						if(self.paymentState == "created"){
							self.created = true;
						}
					}else{
						self.paymentState = "N/A";
					}
				}); 
			},
			methods: {
				EjecutarPago: function(){
					axios.post('http://localhost:3011/ejecutar-pago', { idpago: self.paymentId, idpagador: self.payerId })
					.then(function(response){
						console.log(response.data);
					}); 
				}
			}
		});
    </script>
</body>

</html>














